<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <footer th:fragment="footer_section" class="flex w-full flex-col gap-6 bg-smart-white px-5 py-10 text-center border-t border-smart-mist">
        <div class="mx-auto flex max-w-7xl flex-wrap items-center justify-center gap-x-8 gap-y-4">
            <a class="text-soft-grey text-sm font-medium leading-normal min-w-40 hover:text-nutri-green transition-colors" href="#">Privacy Policy</a>
            <a class="text-soft-grey text-sm font-medium leading-normal min-w-40 hover:text-nutri-green transition-colors" href="#">Terms of Service</a>
            <a class="text-soft-grey text-sm font-medium leading-normal min-w-40 hover:text-nutri-green transition-colors" href="#">Contact Us</a>
        </div>
        <p class="text-soft-grey text-sm font-normal leading-normal">© 2024 Zader Food. All rights reserved.</p>
    </footer>

</body>
</html>