<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header-content" class="flex items-center justify-between whitespace-nowrap px-4 sm:px-6 lg:px-10 py-3 bg-white text-dark-ink sticky top-0 z-10 border-b border-gray-200">
        <div class="flex items-center gap-4">
            <div class="size-8 text-dark-ink">
                <img class="logo" th:src="@{/icons/logo.png}" alt="logo"/>
            </div>
            <h2 class="text-dark-ink text-lg font-bold leading-tight tracking-[-0.015em]">Zader Food</h2>
        </div>
        <div class="hidden md:flex flex-1 justify-center gap-8">
            <div class="flex items-center gap-9">
                <a class="text-dark-ink/70 hover:text-dark-ink text-sm font-medium leading-normal" href="#">Meal Plan</a>
                <a class="text-dark-ink text-sm font-bold leading-normal relative after:content-[''] after:absolute after:left-0 after:bottom-[-4px] after:h-0.5 after:w-full after:bg-dark-ink" href="#">Ingredients</a>
                <a class="text-dark-ink/70 hover:text-dark-ink text-sm font-medium leading-normal" href="#">Recipes</a>
            </div>
        </div>
        <div class="flex items-center gap-4">
            <button class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-gray-100 hover:bg-gray-200 text-dark-ink gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5">
                <span class="material-symbols-outlined text-dark-ink">settings</span>
            </button>
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10" data-alt="User profile picture" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA4IJGd7e4pLxrLdiS640_GA4PtWWqzcNSMKWeoSK-LfbTB-Na7_bac7hfluXlnW9Bp5h_FJIfivHGfHt_ITeWWxDt-Hs-F081xq3fLYSFr5U3qXiOGtWFtHr7soSVny5NiEpLYvbe8Cff8qmyBedEC_06MqQP7S-pgu4Af6TDhf7Rwsv0xlKXCX5LJ5FZ0O9OwzAMFlpK1R9JJZ7mbWSizl4kv9vWcvdsb4am9BaqUUTxTfrO3Y1rkfiq2ygYPp1DOJ8An7Rk-rZHA");'></div>
        </div>
    </header>
</body>
</html>